.trip-location{
    text-align: center;
}

.header{
    position: relative;
}


.lock-icon{
    position: absolute;
    margin-top:5px;
    top:0;
    right:0;
}

.lock-icon:hover{
    cursor:pointer;
}

.update-portion{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 80%;
    
}

.rounded{
    border-radius: 5px;
}

.top-div{
    background-color: lightgray;
    width: 85%;
    border-radius: 5px;
    padding-bottom:1px;
}

.cities-container{
	background-color:white;
	/* color:#cc5c63; */
	width:35%;
	border:1px solid white;
	text-align:center;
	box-shadow:0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius:3px;
	margin:5px;
}
.top-cities-container{
	display:flex;
	flex-wrap:wrap;
	justify-content:center;
}


.additional-info{
    margin:15px;
}

.center{
    text-align: center;
}


.gmap_canvas{
    height: 50vh;
    margin-bottom:25px;
}