<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
        <p>Plan a trip and start </p>
    </div>

    <!-- Login Form -->
    <form (submit)="onSubmit()">
        <input type="text" [(ngModel)]="email" id = "login" class="fadeIn second" name = "userlogin">  
        <input type="text" [(ngModel)]="password" id="password" class="fadeIn third" name = "userpassword"> 
      <input type="submit" class="fadeIn fourth" value="Log In">
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <a class="underlineHover" (click) = "betaAccess()" >Beta Access</a>
    </div>

  </div>
</div>