h1{
    margin:10px;
}

h4{
    margin-top:5px;
}
.center{
    text-align: center;
}

.trip-box{
    width:25%;
    margin:10px;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
    transition: 0.1s;
  }

.container-fluid{
    border-radius: 5px;
    background:lightgrey;
    margin-bottom: 5px;
    width:85%;
}

a{
    cursor: pointer;
}

.test{
    flex-wrap: wrap;
}

p{margin-left:10px;}

.exit-button{
    text-align: right;
    margin-right:5px;
    
}